.inner-list {
  display: flex;
  transition: margin 0.5s ease-in-out;
}
.inner {
  flex: 0 0 auto;
}
.bg-banner {
  background-color: #171036;
  /* width: 100%; */
}
body {
  /* background-color: rgba(0, 0, 128, 0.2); */
  background-image: url(../pics/rainbow.png);
  background-size: cover;
  background-attachment: fixed;
}
/* .song-myung-regular {
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
} */
.noto-serif-kr-regular {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-kr-thick {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.scroll-image {
  display: none;
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.firework {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.show {
  display: block;
  animation: fadeIn 1s forwards;
}
.hide {
  display: block;
  animation: fadeOut 1s forwards;
}
